body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: skyblue; /* Changed background color to sky blue */
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: navy; /* Changed heading color to navy */
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: navy;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: #001a4d;
}
