body {
    background-image: url('/images/navyLogo.png');
    background-color: skyblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 590px 590px;
    background-position: center;
    background-position: 450px 115px;
}

.navBox {
    background-color: white;
    padding: 2px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center; /* Vertically center items */
}

.navBox .navyImage img {
    height: 100%; /* Set the height of the image to 100% of its container */
    max-height: 100px; /* Set maximum height if needed */
    margin-left: 20px; /* Adjust margin as needed */
}

.navBox .adcc {
    color: #074880;
    margin-right: auto; /* Set margin-right to auto to push it to the center */
    margin-left: auto; /* Set margin-left to auto to center it horizontally */
    font-size: 20px;
    text-align: center; /* Align text content to center */
}

.navBox .adccImage img {
    height: 100%; /* Set the height of the image to 100% of its container */
    max-height: 100px; /* Set maximum height if needed */
    margin-right: 20px; /* Adjust margin as needed */
}

.navigation {
    width: 200px;
    height: 548px;
    background-color: #074880;
    color: #fff;
    padding: 30px;
    margin-top: 45px;
    margin-left: -20px;
  }
  
  .navigation nav {
    padding: 5px;
  }
  
  .navigation nav .box {
    margin-bottom: 40px;
    font-size: 20px;
  }
  
  .navigation nav .box a {
    color: #fff;
    text-decoration: none;
  }
  
  .navigation nav .box a:hover {
    color: #ccc;
  }